<!-- Backdrop -->
<div class="fixed inset-0  transition-all duration-300 pointer-events-none opacity-0 invisible"
  [class]="variant() === 'banner' ? 'bg-slate-900/60 backdrop-blur-md  z-60' : 'bg-slate-900/40 backdrop-blur-sm z-50'"
  [class.!opacity-100]="isOpen()" [class.!visible]="isOpen()" [class.!pointer-events-auto]="isOpen()"
  (click)="onClose()"></div>

<!-- Modal Container -->
<div class="fixed z-60 transition-all flex flex-col
  bottom-0 left-0 right-0    duration-500 translate-y-full mx-auto opacity-0 invisible"
   [class]="variant() === 'banner' ? ' max-w-sm' : 'max-w-2xl max-h-[92vh] rounded-t-4xl backdrop-blur-3xl  bg-white p-6  '"
  [class.!opacity-100]="isOpen()"
  [class.!visible]="isOpen()"
  [class.!translate-y-0]="isOpen()"
>


  @if (variant() !== 'banner') {
  <!-- Header -->
  <div class="px-6 py-4 flex items-center justify-between border-b-2 border-secondary/50">
    <h2 class="font-display text-slate-800 text-xl overflow-hidden text-ellipsis whitespace-nowrap">{{ title() }}</h2>
    <button (click)="onClose()"
      class="p-2 rounded-full text-secondary hover:bg-slate-100 hover:text-slate-800 transition-all">
      <svg lucideX class="w-6 h-6"></svg>
    </button>
  </div>
  }

  <!-- Content Wrapper -->
  <div class="relative  flex justify-center items-center w-full grow overflow-y-auto p-6 scrollbar-thin scrollbar-track-transparent scrollbar-thumb-slate-200 hover:scrollbar-thumb-slate-300">
    <ng-content></ng-content>
  </div>

</div>