<footer
  class="pt-24 pb-6 bg-secondary border-t-[12px] border-primary rounded-t-[100px] overflow-hidden relative text-white"
>
  <!-- Background Accents -->

  <div class="max-w-7xl mx-auto px-8 relative z-10">
    <!-- Top Section: 3 Columns -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-16 items-start">
      <!-- Left: Contact & Hours -->
      <div
        class="space-y-8 flex flex-col items-center text-center md:text-left"
      >
        <div class="flex flex-col items-center justify-center">
          <h4 class="text-xl font-display text-center text-accent block">
            Contacto & Horarios
          </h4>
          <a
            [href]="'tel:' + restaurantPhone()"
            class="group inline-flex items-center justify-center gap-4 text-xl font- hover:text-accent transition-colors duration-300"
          >
            <svg lucidePhone class="w-5 h-5 my-auto text-primary-text"></svg>
            {{ restaurantPhone() }}
          </a>
        </div>

        @if (todayHours(); as schedule) {
        <div class="flex flex-col items-center justify-center space-y-2">
          <h4 class="text-xl font-display text-accent tracking-widest mb-1">
            Horario de Hoy
          </h4>
          <p class="text-xl font- text-primary-text">
            {{ schedule.open | timeFormat }} — {{ schedule.close | timeFormat }}
          </p>
        </div>
        }
      </div>

      <!-- Center: Branding -->
      <div
        class="flex flex-col items-center text-center space-y-6 order-first md:order-none"
      >
        <a
          href="/"
          class="bg-white h-60 w-60 flex justify-center items-center rounded-full outline-primary outline-4"
        >
          <img
            src="/logo-lacasona.svg"
            [alt]="restaurantName()"
            class="w-64 h-full px-8 object-contain"
          />
        </a>
        <h2 class="text-5xl hidden font-display tracking-tighter text-white">
          {{ restaurantName() }}<span class="text-primary">.</span>
        </h2>
        <p class="text-white/80 hidden font-body max-w-xs leading-relaxed">
          {{ restaurantDescription() }}
        </p>
      </div>

      <!-- Right: Social Media -->
      <div
        class="space-y-8 flex flex-col items-center text-center md:text-right"
      >
        <div class="flex flex-col justify-center space-y-4 items-center">
          <h4 class="text-xl font-display text-accent block">Siguenos</h4>
          <div class="flex items-center justify-center md:justify-end gap-5">
            @if (socialMediaSafe(); as sm) { @if (sm.facebook) {
            <a
              [href]="sm.facebook"
              target="_blank"
              class="w-14 h-14 rounded-2xl bg-white/5 border border-white/10 flex items-center justify-center group hover:bg-primary hover:border-primary transition-all duration-300"
            >
              <span class="icon-[fa6-brands--facebook] w-6 h-6"></span>
            </a>
            } @if (sm.instagram) {
            <a
              [href]="sm.instagram"
              target="_blank"
              class="w-14 h-14 rounded-2xl bg-white/5 border border-white/10 flex items-center justify-center group hover:bg-primary hover:border-primary transition-all duration-300"
            >
              <span class="icon-[fa6-brands--instagram] w-6 h-6"></span>
            </a>
            } @if(sm.tiktok) {
            <a
              [href]="sm.tiktok"
              target="_blank"
              class="w-14 h-14 rounded-2xl bg-white/5 border border-white/10 flex items-center justify-center group hover:bg-primary hover:border-primary transition-all duration-300"
            >
              <span class="icon-[simple-icons--tiktok] w-6 h-6"></span>
            </a>
            }}
          </div>
        </div>
      </div>
    </div>

    <!-- Developer Signature -->
    <div
      class="w-full flex flex-col sm:flex-row justify-between items-center gap-6 mt-12 border-t border-white/10 pt-8"
    >
      <div class="flex items-center gap-4 group">
        <a href="https://wa.me/51924932128" target="_blank" class="relative">
          <div
            class="absolute -inset-1 bg-gradient-to-r from-primary animate-pulse to-accent rounded-full blur opacity-20 group-hover:opacity-70 transition duration-500"
          ></div>
          <img
            src="/images/logo-tinyacode.webp"
            alt="Pedro Alejandro"
            class="relative w-11 h-11 rounded-full object-cover grayscale group-hover:grayscale-0 ring-2 ring-white/10 group-hover:ring-primary transition-all duration-500 cursor-pointer"
          />
        </a>
        <div class="flex flex-col">
          <span
            class="text-white/40 text-[10px] uppercase tracking-[0.2em] font-bold mb-0.5"
            >Diseño & Desarrollo</span
          >
          <a
            href="https://wa.me/51924932128"
            target="_blank"
            class="text-white/90 font-display font-extrabold tracking-wide hover:text-white transition-colors flex items-center gap-1.5"
          >
            Tinya Code
            <svg
              lucideArrowUpRight
              class="w-3.5 h-3.5 text-primary opacity-0 -translate-y-1 translate-x-1 group-hover:opacity-100 group-hover:translate-y-0 group-hover:translate-x-0 transition-all duration-300"
            ></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
