<div
  class="group relative min-w-[300px] h-[500px] transition-all duration-300 overflow-hidden cursor-pointer active:scale-100 rounded-2xl border-2 border-transparent hover:border-2 hover:border-accent flex flex-col">

  <div [style.background-image]="'url(' + combo().image_url + ')'"
    class="relative flex flex-col h-full gap-4 bg-linear-to-t from-background-secondary to-transparent">
    <div class="h-[300px]">
      <img [src]="combo().url" [alt]="combo().name" class="w-full h-full object-cover" />
    </div>
    <div class="flex flex-col gap-2 p-4">
      <div class="flex flex-col gap-1 mt-auto">
        <h3 class="text-xl font-display text-primary-text">
          {{ combo().name }}
        </h3>
        <p class="text-primary-text/70 max-w-xs font-body leading-relaxed line-clamp-3">
          {{ combo().description }}
        </p>
      </div>

      <div class="flex gap-4">
        <p class="flex-1 rounded-sm tracking-widest font-display text-white text-xl">
          {{ combo().price | precio }}
        </p>
        @if (canOrder()) {
        <app-add-button class="flex-1"
          customClass="w-full flex items-center justify-center border-px border-white active"
          (clicked)="addToCart.emit(combo())"></app-add-button>
        }
      </div>
    </div>
  </div>
</div>