@import url("./fonts.css");
@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme {
  /* Tipografías */
  --font-display: "BespokeSerif-Extrabold", sans-serif;
  --font-body: "Switzer-Regular", sans-serif;
  /* Colores base */
  --color-primary: #dd2333; /* Rojo vibrante, moderno #823d15 */
  --color-secondary: #1a1007; /* Negro Zinc 950, premium */

  --color-tertiary: #823d15; /* Marrón suave para balance */

  /* Complementario */
  --color-background: #e9d2b4; /* Blanco suave para balance */
  --color-surface: #040404; /* Gris Zinc 100 para secciones */
  --color-background-secondary: #462e1c; /* Marrón oscuro para balance */

  /* Acentos */
  --color-accent: #f59e0b; /* Ámbar/Dorado, toque de elegancia */
  --color-accent-muted: #fbbf24; /* Ámbar suave para detalles */
  --color-accent-secondary: #ddab87; /* Beige suave para detalles */

  /* Texto */
  --color-primary-text: #ffffff; /* Texto sobre fondos oscuros */
  --color-secondary-text: #040404; /* Texto sobre fondos claros */
  --color-text-accent: #dc2626; /* Destacar títulos o precios */
}

html {
  scroll-behavior: smooth;
}

img {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
