@import url("./fonts.css");
@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme {
  /* Tipografías */
  --font-display:  "BespokeSerif-Extrabold", sans-serif;
  --font-body: "Switzer-Regular", sans-serif;
  --color-primary: #8B1A1A; /* Rojo vino más oscuro, sofisticado */
  --color-secondary: #1a1007; /* Marrón carbón cálido */
  --color-tertiary: #FF6B00; /* Terracota vibrante, fuego/madera */

  /* Complementario */

  --color-background: #FDE7DD; /* Durazno claro, cálido */
  --color-surface: #ffffff; /* Negro intenso para contraste */

  --color-background-secondary: #462e1c; /* Marrón oscuro para balance */


  /* Acentos */
  --color-accent: #F9AB2F; /* Naranja brasa, energía */
  --color-accent-muted: #fbbf24; /* Ámbar suave para detalles */
  --color-accent-secondary: #ddab87; /* Beige suave para detalles */

  /* Texto */
  --color-primary-text: #ffffff; /* Texto sobre fondos oscuros */
  --color-secondary-text: #1a1007; /* Texto sobre fondos claros */
  --color-text-accent: #dc2626; /* Destacar títulos o precios */
  --breakpoint-xxs: 60px;
}

html {
  scroll-behavior: smooth;
}

img {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}


